<nav class="main-nav">
    <ul class="nav-list">
      <li><a href="index.html">Accueil</a></li>
      <li class="dropdown">
        <a href="creations.html">Mes créations ▾</a>
        <ul class="dropdown-menu">
          <li><a href="gnome.html">Gnomes personnalisés</a></li>
          <li><a href="box.html">Box personnalisées</a></li>
          <li><a href="banderole.html">Banderoles personnalisées</a></li>
          <li><a href="pochon.html">Pochons personnalisés</a></li>
        </ul>
      </li>
      <li><a href="a-propos.html">À propos du Cha'Telier</a></li>
      <li><a href="me-contacter.html">Me contacter</a></li>
    </ul>
  </nav>
